<div class="field">
  <%= f.label :name %>
  <%= f.select :name, Record::NAMES.map { |value| [ value, value ] }, { include_blank: true } %><br/>

  <%= f.label :value %>
  <%= f.text_field :value %><br/>

  <%= link_to_remove_fields "remove", f %>
</div>

