<h1><%= @domain.name %></h1>
<br /><br />

<h3>NS Records</h3>
<table id="ns_records" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @domain.records.select { |r| r.name == 'NS' }.each do |record| %>
      <tr id="ns_record_<%= record.id %>">
        <td><%= record.hostname %></td>
        <td>
          <%= link_to 'Edit', edit_domain_record_path(@domain, record), class: 'btn btn-mini btn-warning' %>
          <%= link_to 'Destroy', [@domain, record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a new NS Record', new_domain_record_path(@domain, record_name: "NS"), class: 'btn btn-success' %>

<h3>A Records</h3>
<table id="a_records" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>IP Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @domain.records.select { |r| r.name == 'A' }.each do |record| %>
      <tr id="a_record_<%= record.id %>">
        <td><%= record.hostname %></td>
        <td><%= record.ip_address %></td>
        <td>
          <%= link_to 'Edit', edit_domain_record_path(@domain, record), class: 'btn btn-mini btn-warning' %>
          <%= link_to 'Destroy', [@domain, record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a new A Record', new_domain_record_path(@domain, record_name: "A"), class: 'btn btn-success' %>

<h3>CNAME Records</h3>
<table id="cname_records" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Hostname(<%= @domain.name %>)</th>
      <th>Hostname</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @domain.records.select { |r| r.name == 'CNAME' }.each do |record| %>
      <tr id="cname_record_<%= record.id %>">
        <td><%= record.subdomain %></td>
        <td><%= record.hostname %></td>
        <td>
          <%= link_to 'Edit', edit_domain_record_path(@domain, record), class: 'btn btn-mini btn-warning' %>
          <%= link_to 'Destroy', [@domain, record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a new CNAME Record', new_domain_record_path(@domain, record_name: "CNAME"), class: 'btn btn-success' %>

<h3>MX Records</h3>
<table id="mx_records" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Hostname</th>
      <th>Action</th>
    </th>
  </thead>
  <tbody>
    <% @domain.records.select { |r| r.name == 'MX' }.each do |record| %>
      <tr id="mx_record_<%= record.id %>">
        <td><%= record.priority %></td>
        <td><%= record.hostname %></td>
        <td>
          <%= link_to 'Edit', edit_domain_record_path(@domain, record), class: 'btn btn-mini btn-warning' %>
          <%= link_to 'Destroy', [@domain, record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a new MX Record', new_domain_record_path(@domain, record_name: "MX"), class: 'btn btn-success' %>

<h3>TXT Records</h3>
<table id="txt_records" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
      <td>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @domain.records.select { |r| r.name == 'TXT' }.each do |record| %>
      <tr id="txt_record_<%= record.id %>">
        <td><%= record.txt_name %></td>
        <td><%= record.text %></td>
        <td>
          <%= link_to 'Edit', edit_domain_record_path(@domain, record), class: 'btn btn-mini btn-warning' %>
          <%= link_to 'Destroy', [@domain, record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a new TXT Record', new_domain_record_path(@domain, record_name: "TXT"), class: 'btn btn-success' %>

<h3>SRV Records</h3>
<table id="srv_records" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Hostname(<%= @domain.name %>)</th>
      <th>Priority</th>
      <th>Weight</th>
      <th>Port</th>
      <th>Target</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @domain.records.select { |r| r.name == 'SRV' }.each do |record| %>
      <tr id="srv_record_<%= record.id %>">
        <td><%= record.hostname %></td>
        <td><%= record.priority %></td>
        <td><%= record.weight %></td>
        <td><%= record.port %></td>
        <td><%= record.target %></td>
        <td>
          <%= link_to 'Edit', edit_domain_record_path(@domain, record), class: 'btn btn-mini btn-warning' %>
          <%= link_to 'Destroy', [@domain, record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a new SRV Record', new_domain_record_path(@domain, record_name: "SRV"), class: 'btn btn-success' %>
<pre id="preview"><%= @domain.to_text %></pre>
